
@import "../global.css";

.layout {
    width: 600px;
    margin: auto;
}
.accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #185279;
    border-radius: 10px;
    color: rgb(234, 236, 80);

  }
  .accordion__question p {
    margin: 5px;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
  }
  .accordion__answer p {
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(43, 52, 131);
    border-radius: 10px;
  }
  .accordion:hover {
    cursor: pointer;
  }
  .accordion__answer {
    display: none;
  }
  .accordion.active .accordion__answer {
    display: block;
  }